@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hmcoding, hm coding, HMCoding, HM Coding, web ôn luyện thi lập trình, lập trình">
    <meta name="description" content="HM Coding - Nền tảng học lập trình trực tuyến">
    <meta name="author" content="Hậu Nguyễn và Thảo Lê">

    <meta name="copyright" content="Hậu Nguyễn và Thảo Lê">

    <link rel="stylesheet" href="~/lib/bootstrap/theme/brite/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.extend.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/button-extend.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-WMi+Ec+QE8hxW/3qKvuefShIddYjwMalSgy0MR4FZnl285C4HGYfISceaagw0Am3" crossorigin="anonymous">
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="icon" href="~/assets/icons/logo.png" asp-append-version="true" />

    @await RenderSectionAsync("Links", required: false)

    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] | HMS</title>
    }
    else
    {
        <title>HMS</title>
    }

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" style="user-select:none;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h3 class="text-center m-0">HMS</h3>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Home" ? "active" : "")" asp-action="Index" asp-controller="Home">
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Jar" ? "active" : "")" asp-action="Index" asp-controller="Jar">Hũ Thu chi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Transaction" ? "active" : "")" asp-action="Index" asp-controller="Transaction">Giao dịch</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link @(currentController == "Report" ? "active" : "")" asp-action="Index" asp-controller="Report">Báo cáo</a>
                        </li> *@
                        
                       
                    </ul>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {

                        <div class="nav-item dropdown p-3">
                            <a class="nav-link dropdown-toggle text-danger @(currentController == "UserInfo" ? "active" : "")" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img id="userAvatar"
                                     src="~/assets/images/avatardefault.png"
                                     class="rounded-circle"
                                     alt="User Avatar" />
                                @User.FindFirst(ClaimTypes.Name)?.Value
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" asp-route-id="" asp-action="Details" asp-controller="UserInfo">Thông tin tài khoản</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" asp-action="Logout" asp-controller="Account">Đăng xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item auth-links">
                            <a class="nav-link" asp-action="Login" asp-controller="User">Đăng nhập</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        @RenderBody()
    </main>


    <!-- Nội dung body khác -->

    <div id="footer">
       
        <div class="container">
            <p class="address1" style="display:flex;align-items:center;justify-content:center; gap:0.7rem;">Tác giả: Hậu Nguyễn và Thảo Lê</p>
            <p class="address2" style="display:flex;align-items:center;justify-content:center; gap:0.7rem;">Khoa Công nghệ Thông tin - Đại học Sư phạm TP. Hồ Chí Minh</p>
            <div class="phonenumber mt-0" style="display:flex;align-items:center;justify-content:center; gap:0.7rem;">
                <p>Liên hệ: 0944746748</p>
                <p>Email: haunv.cntt@gmail.com</p>
            </div>

        </div>
    </div>

    <!-- Notification Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="notificationMessage"></p>
                    <p class="notification-meta" id="notificationMeta"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/@@popperjs/core@@2"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/sweetalert2-extend.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/0f2d543076.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>