@model List<QuanLyChiTieu.ViewModels.PartnerDebtViewModel>
@using System.Globalization
@{
    var culture = new CultureInfo("vi-VN");
    var quantity = Model.Count(x => x.NetDebtAmount != 0);
    var count = 0;
    var totalDebt = Model.Where(x => x.NetDebtAmount > 0).Sum(x => x.NetDebtAmount);
    var totalInDebt = Model.Where(x => x.NetDebtAmount < 0).Sum(x => Math.Abs(x.NetDebtAmount));
}

<div class="row g-3 mb-3">
    <!-- Tổng dư trước kỳ -->
    <div class="col-md-6">
        <div class="card text-white bg-success shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Tổng cho nợ</h6>
                <h4 class="card-text fs-2">
                    @totalDebt.ToString("C", culture)
                </h4>
            </div>
        </div>
    </div>
    <!-- Tổng thu nhập -->
    <div class="col-md-6">
        <div class="card text-white bg-danger shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Tổng đang nợ</h6>
                <h4 class="card-text fs-2">
                    @totalInDebt.ToString("C", culture)
                </h4>
            </div>
        </div>
    </div>

</div>
<div class="row ">
    @foreach (var item in Model)
    {
        <div class="partner-card col-12 mb-3" data-partner-name="@item.PartnerName">
            <div class="card shadow-sm border-@((item.NetDebtAmount >= 0) ? "success" : "danger")">
                <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
                    <div>
                        <h5 class="card-title">@item.PartnerName</h5>
                        <p class="card-text">
                            @if (item.NetDebtAmount == 0)
                            {
                                <span class="badge bg-secondary">Không có công nợ</span>
                            }
                            else if (item.NetDebtAmount > 0)
                            {
                                <span class="badge bg-success">Đang thiếu bạn</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Bạn đang nợ</span>
                            }
                            <strong class="badge ">@Math.Abs(item.NetDebtAmount).ToString("C", culture) </strong>
                        </p>

                    </div>

                    <div class="mt-2">

                        <a asp-action="DebtHistory" asp-route-partnerId="@item.PartnerId" class="btn btn-primary btn-sm">
                            <i class="bi bi-clock-history"></i> Lịch Sử
                        </a>


                        @if (item.NetDebtAmount > 0)
                        {
                            <a asp-action="PayDebt" asp-route-partnerId="@item.PartnerId" asp-route-in-debt="0" class="btn btn-success btn-sm">
                                <i class="bi bi-cash-coin"></i> Thu Nợ
                            </a>
                        }
                        else if (item.NetDebtAmount < 0)
                        {
                            <a asp-action="PayDebt" asp-route-partnerId="@item.PartnerId" asp-route-in-debt="1" class="btn btn-warning btn-sm">
                                <i class="bi bi-wallet2"></i> Trả Nợ
                            </a>
                        }

                        <a asp-action="CreateDebt" asp-route-partnerId="@item.PartnerId" class="btn btn-danger btn-sm">
                            <i class="bi bi-wallet2"></i> Thêm Nợ
                        </a>
                    </div>
                </div>
            </div>
        </div>
        count++;
        if (count == quantity && quantity != 0)
        {
            <hr />

            <div class="col-12 mb-3">
                <div class="alert alert-info text-center">
                    <strong>Các đối tác không có công nợ</strong>
                </div>
            </div>




        }
    }
</div>

